<h1>Welcome to my Website</h1>

<div class="home-image">
    <p>Sydney</p>
    <p>Melbourne</p>
    <p>Perth</p>
    <p>Gold Coast</p>
    <p>Nelson Bay</p>
    <p>Canberra</p>
    <p>Blue Mountains</p>
</div>
