<h1>Welcome to my Website</h1>

<link rel="stylesheet" type="text/css" href="https://js.cit.api.here.com/v3/3.0/mapsjs-ui.css?dp-version=1524740152" />
<script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-core.js"></script>
<script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-service.js"></script>
<script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-ui.js"></script>
<script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>


<body>

 <div class="slider slider_circle_10">
  <div><img src="https://www.pht.com.au/files/330_paustralia_014.jpg"; style="width:700px; height: 430px;"/></div>
  <div><img src="https://www.gardenvisit.com/uploads/image/image/138/13850/berlin_botanic_garden_original.jpg"; style="width:700px; height: 430px;"/>"; style="width:800px; height: 430px;"/></div>
  <div><img src="https://images.mapsofworld.com/allwonders/2015/02/Beach-at-Phillip-Island-.jpg"; style="width:700px; height: 430px;"/></div>
  <div><img src="https://cdn-images-1.medium.com/max/1600/1*uMB_2wZ5LFBb59inPCPesA.jpeg"; style="width:700px; height: 430px;"/></div>
  <div><img src="https://images.trvl-media.com/media/content/expaus/images/last-minute/blog/uploads/2012/09/The-peak-of-luxury-in-the-Blue-Mountains.jpg"; style="width:700px; height: 430px;"/></div>
  <div><img src="http://www.wondermondo.com/Images/Oceania/Australia/WesternAustralia/WaveRock.jpg"; style="width:700px; height: 430px;"/></div>
  <div><img src="https://assets.atdw-online.com.au/images/ATDW_Large_Landscape__9131508_2520_Grand_Pacific_Drive__Sea_Cliff_Bridge_1_tx1s9ha.jpg?rect=0,0,800,600&w=800&h=600"; style="width:700px; height: 430px;"/></div>
  <div><img src="https://www.planetware.com/photos-large/AUS/australia-queensland-sunshine-coast-noosa-national-park.jpg"; style="width:700px; height: 430px;"/></div>
  <div><img src="https://www.planetware.com/photos-large/AUS/australia-queensland-sunshine-coast-coolum.jpg"; style="width:700px; height: 430px;"/></div>
  <div class="next_button">NEXT</div>
  <div class="prev_button">PREV</div>
 </div>


<div id="map"></div>
<script  type="text/javascript" charset="UTF-8" >


/**
 * Moves the map to display over Berlin
 *
 * @param  {H.Map} map      A HERE Map instance within the application
 */
function moveMapToBerlin(map){
  map.setCenter({lat:-33.8688, lng:151.2093});
  map.setZoom(3.8);
}
var platform = new H.service.Platform({
  app_id: 'DemoAppId01082013GAL',
  app_code: 'AJKnXv84fjrb0KIHawS0Tg',
  useCIT: true,
  useHTTPS: true
});
var defaultLayers = platform.createDefaultLayers();

//Step 2: initialize a map  - not specificing a location will give a whole world view.
var map = new H.Map(document.getElementById('map'),
  defaultLayers.normal.map);

//Step 3: make the map interactive
// MapEvents enables the event system
// Behavior implements default interactions for pan/zoom (also on mobile touch environments)
var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

// Create the default UI components
var ui = H.ui.UI.createDefault(map, defaultLayers);
let marker;

function addMarkersToMap(map) {
  // console.log(map);
  <% Place.all.each do |place|%>
  <% next if place.latitude.nil? || place.longitude.nil? %>
  marker = new H.map.Marker({lat: <%= place.latitude %>, lng: <%= place.longitude %>});
  map.addObject(marker);
<% end %>
}


addMarkersToMap(map);
// Now use the map as required...
moveMapToBerlin(map);


  </script>
</body>
