<h1>places</h1>


<% @places.each do |place| %>
    <p>
      <h1> <%= place.name %> </h1>
      <h2> State: <%= place.state %></h2>
      <h2> Description: <%= place.description %> </h2>
      <%= link_to (image_tag (place.image), :alt => place.name, :class => 'thumb'), place_attraction_path(@attractions, place)%>
      <hr/>
    </p>
<% end %>
