<div class="ripple-effect">


</div>
<h1>All Places of Australia</h1>


<% @places.each do |place| %>
    <p>
      <li> <%= place.name %> </li><br>
      <li> State: <%= place.state %></li><br>
      <h5><li> Description: <%= place.description %> </li><br></h5>
      <%= link_to (image_tag (place.image), :alt => place.name, :class => 'thumb'), place_attractions_path(place)%>
      <hr/>
    </p>
<% end %>
