<h1>All Places of Australia</h1>


<% @places.each do |place| %>
    <p>
      <h3> <%= place.name %> </h3>
      <h4> State: <%= place.state %></h4>
      <h6> Description: <%= place.description %> </h6>
      <%= link_to (image_tag (place.image), :alt => place.name, :class => 'thumb'), place_attraction_path(@attractions, place)%>
      <hr/>
    </p>
<% end %>
